/* You can add global styles to this file, and also import other style files */
body {
  position: relative;
  min-height: 100vh;
}
body:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;

  background: url("assets/images/bg.jpg");
  background-size: cover;
  opacity: 0.13;
  top: 0;

}

h2 {
  font-size: 45px;
  background: -webkit-linear-gradient(#048c4f, #e3a8a8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
