<div class="container">
  <form>
    <div class="row">
      <div class="col-8 offset-2 card">
        <legend>Add new employee</legend>
        <div class="mb-3">
          <label for="employeeUserName" class="form-label">Username:</label>
          <input type="text" class="form-control" id="employeeUserName" placeholder="username" name="employeeUserName" #employeeUserName/>
        </div>
        <div class="mb-3">
          <label for="employeeFirstName" class="form-label">First Name:</label>
          <input type="text" class="form-control" id="employeeFirstName" placeholder="John" name="employeeFirstName" #employeeFirstName/>
        </div>
        <div class="mb-3">
          <label for="employeeLastName" class="form-label">Last Name:</label>
          <input type="text" class="form-control" id="employeeLastName" placeholder="John" name="employeeLastName" #employeeLastName/>
        </div>
        <div class="mb-3">
          <label for="employeeRole" class="form-label">Role:</label>
          <select class="form-select" #employeeRole id="employeeRole" >
            <option *ngFor="let option of EMPLOYEE_ROLE_TYPES" value="{{option}}">
              {{option}}
            </option>
          </select>
        </div>
        <div class="mb-3">
          <label for="employeeDateOfBirth" class="form-label">Date of Birth</label>
          <input type="date" id="employeeDateOfBirth" class="form-control" name="employeeDateOfBirth" placeholder="dd/mm/yyyy" #employeeDateOfBirth/>
        </div>
        <div class="mb-3">
          <label for="employeePhoneNumber" class="form-label">Phone Number:</label>
          <input type="number" id="employeePhoneNumber" name="employeePhoneNumber" class="form-control" placeholder="0755667788" #employeePhoneNumber/>
        </div>
        <div class="mb-3">
          <label for="employeePassword" class="form-label">Password:</label>
          <input type="password" id="employeePassword" name="employeePassword" class="form-control" #employeePassword/>
        </div>
        <div class="mb-3 d-flex justify-content-between">
          <button class="btn btn-secondary" (click)="goBack()">Back</button>
          <button class="btn btn-primary" (click)="addEmployee(employeeUserName.value, employeeFirstName.value, employeeLastName.value,
    employeeRole.value, employeeDateOfBirth.value, employeePhoneNumber.value, employeePassword.value)">Save</button>
        </div>
      </div>
    </div>
  </form>
</div>
