
  <div *ngIf="selectedEmployee">
    <h3 class="mb-3">
      {{selectedEmployee.firstName}} was selected
    </h3>
    <button (click)="gotoDetail()" class="btn btn-primary">View Details</button>
  </div>

  <h2 class="mb-3">Employees</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">User name</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Role</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees; let i=index"
          [class.selected]="employee === selectedEmployee"
          (click)="onSelect(employee)">
        <th scope="row">{{i+1}}</th>
        <!--<td>{{employee.id}}</td>-->
        <td>{{employee.username}}</td>
        <td>{{employee.firstName}}</td>
        <td>{{employee.lastName}}</td>
        <td>{{employee.role}}</td>
        <td>
          <button class="btn btn-link delete" (click)="delete(employee); $event.stopPropagation()">delete</button>
        </td>
      </tr>
    </tbody>
  </table>

