<div class="container">
  <form>
    <div class = "row">
      <div class="col-8 offset-2 card">
        <legend>Place New Order</legend>
        <div class="mb-3">
          <label for="ordershopDate" class="form-label">Current Date</label>
          <input type="date" class="form-control" placeholder="dd/mm/yyyy" #orderShopDate id="ordershopDate">
        </div>
        <div class="mb-3">
          <label for="ordershopCategory" class="form-label">Category:</label>
          <select class="form-select" #ordershopCategory id="ordershopCategory" >
            <option *ngFor="let option of CATEGORY_TYPES" value="{{option}}">
              {{option}}
            </option>
          </select>
        </div>

        <div class="mb-3">
          <label for="orderedProduct" class="form-label">Select product:</label>
          <select class="form-select" #orderedProduct id="orderedProduct" (change)="onChange(orderedProduct.value)">
            <option value="">Select</option>
            <option *ngFor="let option of products" value="{{option.id}}">
              {{option.color}} - {{option.name}}
            </option>
          </select>
          <br>
          <div class="row mt-4 mb-5" *ngIf="selectedProduct">
            <div class="col-12 mb-3">
              <h6>Selected product: {{selectedProduct.color}} - {{selectedProduct.name}}</h6>
            </div>
            <div class="col-12 mb-3">
              <label class="form-label">Description: </label> {{selectedProduct.description}}
            </div>
            <div class="col-12 mb-3">
              <table class="table">
                <thead>
                  <tr>
                    <th>Stock</th>
                    <th>Price</th>
                    <th>Color</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{selectedProduct.stock}}</td>
                    <td>{{selectedProduct.price}} lei</td>
                    <td>{{selectedProduct.color}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div *ngIf="stockError.errorActive" class="alert alert-danger">
              {{stockError.errorMessage}}
            </div>
            <div class="col-12">
              <label for="orderQuantity" class="form-label">Select the quantity: </label>
            </div>
            <div class="col-6">
              <input type="number" class="form-control" id="orderQuantity" value="1" min="1" max="{{selectedProduct.stock}}" #orderQuantity (change)="onSelectedProductStock(selectedProduct.stock, orderQuantity.value)">
            </div>
            <div class="col-6 d-grid gap-2">
              <button class="btn btn-secondary" [disabled]="stockError.errorActive || !orderQuantity.value || orderQuantity.value=='0' " (click)="addProduct(orderQuantity.value)">Add Product</button><br>
            </div>
          </div>
          <div class="row" *ngIf="orderedProducts.length > 0">
            <div class="col-12">
              <h5>Products in the order</h5>
            </div>
            <div class="col-12">
              <table class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor = "let p of orderedProducts">
                    <td>
                      <div class="img-container">
                        <img src="{{p.product.imageUrl}}" alt="">
                      </div>
                    </td>
                    <td>{{p.product.color}} - {{p.product.name}}</td>
                    <td>{{p.quantity}}</td>
                    <td>{{p.product.price}}</td>
                    <td>
                      <button class="btn btn-outline-danger" (click)="delete(p); $event.stopPropagation()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-backspace" viewBox="0 0 16 16">
                          <path d="M5.83 5.146a.5.5 0 0 0 0 .708L7.975 8l-2.147 2.146a.5.5 0 0 0 .707.708l2.147-2.147 2.146 2.147a.5.5 0 0 0 .707-.708L9.39 8l2.146-2.146a.5.5 0 0 0-.707-.708L8.683 7.293 6.536 5.146a.5.5 0 0 0-.707 0z"/>
                          <path d="M13.683 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-7.08a2 2 0 0 1-1.519-.698L.241 8.65a1 1 0 0 1 0-1.302L5.084 1.7A2 2 0 0 1 6.603 1h7.08zm-7.08 1a1 1 0 0 0-.76.35L1 8l4.844 5.65a1 1 0 0 0 .759.35h7.08a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1h-7.08z"/>
                        </svg>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <h5 class="text-right" align="right">
                Total Price : {{totalPrice}} lei
              </h5>
            </div>
          </div>
        </div> <br>
        <div class="mb-3 d-flex justify-content-between">
          <button class="btn btn-outline-dark" (click)="goBack()">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
              <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
            </svg>
          </button>
          <button class="btn btn-outline-dark" [disabled]="orderedProducts.length == 0" (click)="placeOrder(orderShopDate.value, ordershopCategory.value)">
            Save
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save" viewBox="0 0 16 16">
              <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z"/>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

