<div *ngIf="selectedProduct">
  <h2 class="mb-3">
    {{selectedProduct.name}} was selected
  </h2>
  <button class="btn btn-primary" (click)="gotoDetail()">View Details</button>
</div>

<h2 class="mb-3">Products</h2>
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Product name</th>
    <th scope="col">Color</th>
    <th scope="col">Price</th>
    <th scope="col">Stock</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products; let i=index "
        [class.selected]="product === selectedProduct"
        (click)="onSelect(product)">
      <td>{{i+1}}</td>
      <td>{{product.name}}</td>
      <td>{{product.color}}</td>
      <td>{{product.price}}</td>
      <td>{{product.stock}}</td>
      <td>
        <button class="btn btn-link delete"
                (click)="delete(product); $event.stopPropagation()">delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
