<div *ngIf="shopOrder" class="container">
  <form class="">
    <div class="row">
      <div class="col-8 offset-2 card">
        <legend>{{shopOrder.id}} details:</legend>

        <div class="mb-3">
          <label class="form-label">Date: </label>{{shopOrder.date}}
          <input class="form-control" type="Date" [(ngModel)]="shopOrder.date" name="Date"/>
        </div>

        <div class="mb-3">
          <label class="form-label">Category: </label>{{shopOrder.category}}
          <select class="form-select" [(ngModel)]="shopOrder.category" name="Category" >
            <option *ngFor="let option of CATEGORY_TYPES" value="{{option}}">
              {{option}}
            </option>
          </select>
        </div>

        <div class="mb-3 d-flex justify-content-between">
          <button (click)="goBack()">Back</button>
          <button (click)="save()">Save</button>
        </div>
      </div>
    </div>
  </form>
</div>

