<div *ngIf="employee" class="container">
  <form class="">
    <div class="row">
      <div class="col-8 offset-2 card">
        <legend>{{employee.firstName}} {{employee.lastName}} details:</legend>

        <div class="mb-3">
          <label class="form-label">Full Name: </label>{{employee.firstName}} {{employee.lastName}}
          <input class="form-control" type="text" [(ngModel)]="employee.firstName" name="FirstName"/>
          <input class="form-control" type="text" [(ngModel)]="employee.lastName" name="LastName"/>
        </div>

        <div class="mb-3">
          <label class="form-label">Date of Birth: </label>{{employee.dateOfBirth}}
          <input class="form-control" type="date" [(ngModel)]="employee.dateOfBirth" name="DateOfBirth"/>
        </div>

        <div class="mb-3">
          <label class="form-label">Phone number:</label>{{employee.phoneNumber}}
          <input class="form-control" type="text" [(ngModel)] = "employee.phoneNumber" name="PhoneNumber"/>
        </div>

        <div class="mb-3">
          <label class="form-label">Role:</label>
          <select class="form-select" [(ngModel)] = "employee.role" name="role">
            <option *ngFor="let option of EMPLOYEE_ROLE_TYPES" value="{{option}}">
              {{option}}
            </option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label">Username:</label>{{employee.username}}
          <input class="form-control" type="text" [(ngModel)] = "employee.username" name="Username"/>
        </div>

        <div class="mb-3 d-flex justify-content-between">
          <button (click)="goBack()">Back</button>
          <button (click)="save()">Save</button>
        </div>
      </div>
    </div>
  </form>
</div>
