<div *ngIf="employee">
  <h2> {{employee.firstName}} {{employee.lastName}} details:</h2>
  <div>
    <label>Full Name:</label>{{employee.firstName}} {{employee.lastName}}
    <input [(ngModel)] = "employee.firstName" placeholder="FirstName"/>
    <input [(ngModel)] = "employee.lastName" placeholder="LastName"/>

  </div>
  <div>
    <label>Date of Birth:</label>{{employee.dateOfBirth}}
    <input [(ngModel)] = "employee.dateOfBirth" placeholder="DateOfBirth"/>
  </div>
  <div>
    <label>Phone number:</label>{{employee.phoneNumber}}
    <input [(ngModel)] = "employee.phoneNumber" placeholder="PhoneNumber"/>
  </div>
  <div>
    <label>Role:</label>{{employee.role}}
    <input [(ngModel)] = "employee.role" placeholder="Role"/>
  </div>
  <div>
    <label>Username:</label>{{employee.username}}
    <input [(ngModel)] = "employee.username" placeholder="Username"/>
  </div>
  <button (click)="goBack()">Back</button>
  <button (click)="save()">Save</button>
</div>
