# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Postuniversitar UBB Info\Anul II\Semestru I Modul II\TFE\Curs\Curs 5\curs5-all\FlowerShop\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
